{% extends 'layout.html' %}
{% block body %}
<h2>About Me</h2>
<p>B.Tech in Computer Science. Building web apps with Flask and small AI projects.
  I am a dedicated CSE graduate with strong interest in web development and backend programming. I have experience working with Python, Flask, HTML, CSS, JavaScript, SQL, and AI tools. I enjoy learning new technologies and building simple, clean, and functional projects. I am looking for an opportunity in an IT company where I can apply my skills, grow professionally, and contribute to real-world applications.
</p>
<ul>
  <li>Location: Hyderabad, Telangana</li>
  <li>Phone - 7569439910</li>
  <li>Email - ferozzz0655@gmail.com</li>
  <li>Linkedin Profile - <a href="https://www.linkedin.com/in/feroz-shaik-9b228a25b/">Click</a></li>
</ul>
<h2>Internship</h2>
<ul>
  <li>Company: Purple Technologies, Vijayawada</li>
  <li>Duration: 4 Months</li>
  <li>Role: AI Intern</li>
</ul>
<p>During my internship at Purple Technologies, I worked on real-time Artificial Intelligence and Machine Learning concepts, gaining hands-on experience in building intelligent systems and understanding how AI is applied in real-world applications. I collaborated with the development team and learned how to integrate AI models with web applications.
</p>
<h6>Key Responsibilities:</h6>
<ul>
  <li>Developed Python-based scripts for data processing and model training.</li>
  <li>Worked with popular ML libraries such as NumPy, Pandas, Scikit-Learn.</li>
  <li>Built and tested small AI models for predictive analysis and pattern recognition.</li>
  <li>Assisted in designing APIs using Flask for integrating AI functionalities with web apps.</li>
  <li>Analyzed datasets and performed preprocessing, feature extraction, and visualization.</li>
  <li>Participated in code reviews, debugging, and performance optimization.</li>
  <li>Collaborated with team members to understand real-world AI problem statements.</li>
</ul>
<h2>Certifications</h2>
<ul>
  <li>AWS Virtual Internship – AICTE</li>
  <li>Android Developer Virtual Internship – AICTE</li>
  <li>C for Everyone – Coursera</li>
  <li>CS50 (Introduction to Computer Science) – Harvard University</li>
  <li>Crash Course On Python - Coursera</li>
</ul>
{% endblock %}


