{% extends 'layout.html' %}
{% block body %}
<h2>Projects</h2>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Automated Public Lighting System (IoT)</h5>
        <p class="card-text">The Automated Public Lighting System is an IoT-based smart street-lighting solution designed to minimize energy consumption and reduce manual intervention. The system uses LDR (Light Dependent Resistor) sensors to detect ambient light levels and automatically turn street lights ON during low-light conditions (night/evening) and OFF during daylight.
        </p>
        <h6>Key Features:</h6>
        <ul>
          <li>Automatic Light Control: Lights turn ON/OFF based on real-time light intensity.</li>
          <li>Energy Efficiency: Reduces power wastage by eliminating manual operation.</li>
          <li>Low Maintenance: Works autonomously without human supervision.</li>
          <li>Scalable Design: Suitable for highways, campuses, communities, and smart cities.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Student Task Manager</h5>
        <p class="card-text">The Student Task Manager is a web-based application designed to help students organize and manage their daily academic tasks efficiently. It allows users to add, track, update, and complete tasks with a simple and clean user interface. The system helps students improve productivity by keeping all tasks in one place with real-time status updates.</p>
        <h6>Key Features:</h6>
        <ul>
          <li>Task Creation: Add new tasks with title, description, and due date.</li>
          <li>Task Status Tracking: Mark tasks as Pending, In Progress, or Completed.</li>
          <li>Edit / Delete: Update task details or remove them anytime.</li>
          <li>Responsive UI: Clean, simple design optimized for mobile and desktop.</li>
          <li>User Authentication: Login/Signup system to secure user tasks.</li>
          <li>Dark/Light Mode: Better reading and smooth user experience.</li>

        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
